@import "tailwindcss";

@theme {
  --color-bg: #ffffff;
  --color-bg2: #f8f8f8;
  --color-text1: #3c3c3c;
  --color-text2: #787879;
  --color-primary01: rgba(229, 173, 147, 1);
  --color-primary01-opacity: rgba(229, 173, 147, 0.5);
  --color-primary02: rgba(123, 4, 22, 1);
  --color-primary02-opacity: rgba(123, 4, 22, 0.5);

  --font-title: "Zalando Sans", sans-serif;
  --font-text: "Open Sans", sans-serif;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
